#loc_catfilter {
    margin: 1em 0;
    padding: 0;
}

ul#loc_alphapager {
    background: none repeat scroll 0 0 #FAFAFA;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    line-height: 1.5em;
    list-style: none outside none;
    margin: 1em 0;
    padding: 2px;
}

ul#loc_alphapager li {
    border-right: 1px solid #AAAAAA;
    float: left;
    margin: 1px;
    padding: 0 0.4em;
}

ul#loc_alphapager li:first-child {
    border-left: 1px solid #aaa;
}

#loc_view {
    background: url("../../../images/icons/extrasmall/windowlist.gif") no-repeat scroll 0 50% transparent;
    margin: 0 5px;
    padding: 2px 0 2px 20px;
}

#loc_addnewitem {
    background: url("../../../images/icons/extrasmall/filenew.gif") no-repeat scroll 0 50% transparent;
    margin: 0 5px;
    padding: 2px 0 2px 20px;
}

#loc_distance {
    background: url("../../../images/icons/extrasmall/search.gif") no-repeat scroll 0 50% transparent;
    margin: 0 5px;
    padding: 2px 0 2px 20px;
}

#loc_edit {
    background: url("../../../images/icons/extrasmall/xedit.gif") no-repeat scroll 0 50% transparent;
    margin: 0 5px;
    padding: 2px 0 2px 20px;
}

div.linktabs {
    margin-bottom: 10px;
}

div.locationsLabelHelp {
    margin-left: 190px;
}

#pn-maincontent.pn-module-locations * .photo {
    float: right;
    padding: .5em;
}

.invisible {
    display: none;
}

.sortable {
    cursor: move;
}

.readonly {
    background: lightgrey;
    color: darkgrey;
    cursor: default;
}

div.autocomplete {
    position: absolute;
    width: 25em;
    background-color: white;
    border: 1px solid #888;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 99;
}

div.autocomplete ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

div.autocomplete ul li.selected {
    background-color: #ffb;
}

div.autocomplete ul li {
    margin: 0;
    padding: 0.1em 0 0.1em 0;
    line-height: 1.4em;
    cursor: pointer;
}

div.autocomplete ul li.dupe {
    background-color: red !important;
}

#livesearch {
    margin: 1em 0 1em 0;
}

.loc_mapbox {
    background: #FAFAFA;
    border: 1px solid #ddd;
    margin: 0.5em 0;
    overflow: hidden;
    padding: 0.5em;
}